.header {
  background-image: url("/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history_section,
.track_section,
.access_section,
.supercharge_section,
.clip_section {
  text-align: center;
  padding: 1.125rem;
  max-width: 31.25rem;
  margin: 0 auto;
  margin-bottom: 5rem; 
}

.main h2 {
  font-size: 2rem;
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}
.main p {
  color: hsl(201, 11%, 66%);
  font-size: 1.125rem;
  font-weight: 400;
  margin: 1.125rem 0;
}

.main button {
  width: 90%;
  font-size: 1rem;
  font-weight: 400;
  height: 3rem;
  border-radius: 2rem;
  margin: 0.75rem 0;
  color: white;
  border: none;
  letter-spacing: 0.0625rem;
}
.ios_btn {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0px 1px 1px 1px hsl(171, 66%, 35%),
    0px 15px 25px -10px hsla(172, 100%, 50%, 0.4);
}
.mac_btn {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 2px 1px 1px hsl(233, 64%, 58%),
    0px 15px 25px -10px hsla(233, 100%, 69%, 0.5);
}
.main button:hover {
  cursor: pointer;
  opacity: .7;
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}
.main img {
  width: 90%;
  margin: 1.5rem 0;
}

.main h3 { 
  font-size: 1.25rem;
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}
.track_section h3 {
  margin-top: 3rem;
}
.supercharge_section img {
  width: 2.5rem;
}

.companies {
  padding: 2rem;
}
.companies img {
  width: 10rem;
  margin: 1.75rem;
}

.footer {
  background-color: hsla(201, 11%, 66%, 9%);
  text-align: center;
  padding: 2rem;
}

.footer img {
  width: 3rem;
}

.footer p {
  color: hsl(210, 10%, 33%);
  font-weight: 400;
  margin: 1.5rem;
}
.footer p:hover {
  color: hsl(171, 66%, 44%);
  cursor: pointer;
}

.social_media {
  display: flex;
  justify-content: space-around;
  margin: 1.875rem;
}
.social_media img {
  width: 1.75rem;
}
.social_media img:hover {
  cursor: pointer;
  filter: invert(67%) sepia(81%) saturate(394%) hue-rotate(117deg) brightness(79%) contrast(92%);
}

@media screen and (min-width: 1000px) {
  .header {
    background-image: url("/bg-header-desktop.png");
  }
  .history_section,
  .track_section,
  .access_section,
  .supercharge_section,
  .clip_section {
    
    max-width: 90vw;
    
  }
  .main p {
    font-size: 1.125rem;
    max-width: 45rem;
    margin: 1.125rem auto;
  }
  .main button {
    max-width: 15rem;

    margin: 0.75rem ;
  }
  .track_div {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  }
  .track_div img {
    width: 40rem;
    position: relative;
    right: 15%;
  }
  
  
  .track_section h3 {
    margin-top: 3rem; 
  }
  .track_div div { 
    max-width: 25rem;
    text-align: start;
  }
  .access_section img {
    max-width: 45rem;
  }
  .workflow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .workflow p {
    max-width: 22rem;
  }

  .footer {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
  }
  .links {
    display: flex;
  }
  .social_media {
    width: 10rem;
  }
}
